* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* *************** 
Colors
*************** */
.pale-blue {
  color: hsl(243, 100%, 93%);
}

.gray-blue {
  color: hsl(229, 7%, 55%);
}

.dark-blue {
  color: hsl(228, 56%, 26%);
}

.dark-blue2 {
  color: hsl(229, 57%, 11%);
}


/* ********************** */
/* *************** 
Section
*************** */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 100vh;
  margin: 0 auto;
}

/* *************** 
Section:
Upper Container
*************** */
.upper-container {
  border: none;
  border-radius: 10px;
  border-top-right-radius: 100px;
  background:hsl(228, 56%, 26%);
  padding: 35px 0;
  padding-left: 40px;
  width: 100%;
}

.logo {
  margin-bottom: 30px;
}

.icons {
  width: 300px;
}

.icons img {
  border: none;
  border-radius: 10px;
  background: hsl(229, 57%, 11%);
  margin-right: 10px;
}

.doc-icon {
  padding: 12px 14px;
}

.folder-icon {
  padding: 14px 12px;
}

.cloud-icon {
  padding: 16px 12px;
}

/* *************** 
Section:
Lower Container
*************** */
.lower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-box {
  background:hsl(228, 56%, 26%);
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  overflow: hidden;
  height: 155px;
  color:hsl(243, 100%, 93%);
  width: 300px;
  text-align: center;
}

.ub-span {
  font-weight: 700;
}

.bar {
  margin: 20px 0 10px 0;
  width: 100%;
  border-radius: 15px;
  padding: 2px 2px;
  background-color:hsl(229, 57%, 11%);
}

.progress {
  background:linear-gradient(to right, rgba(245, 170, 170, 0.897), rgb(233, 118, 208));
  border-radius: 15px;
  text-align: right;
  padding: 7px 7px;
}

.circle {
  width: 80%;
}

.dot {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #fff;
}

.bar-num {
  display: flex;
  font-size: 1.3em;
  padding: 0 8px;
  justify-content: space-between;
}

.lower-box {
  background: #fff;
  border: none;
  border-radius: 10px;
  font-size: 3em;
  padding: 10px 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin-top: -30px;
}

.wb-span {
  font-size: 0.3em;
  color:hsl(229, 7%, 55%);
  text-transform: uppercase;
  margin-left: 10px;

}